/* Roboto-Regular */
@font-face {
  font-family: "Roboto";
  src: url("./media/fonts/Roboto-Regular.woff2") format("woff2"),
  url("./media/fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Roboto-Bold */
@font-face {
  font-family: "Roboto";
  src: url("./media/fonts/Roboto-Bold.woff2") format("woff2"),
  url("./media/fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Roboto Black */
@font-face {
  font-family: "Roboto";
  src: url("./media/fonts/Roboto-Black.woff2") format("woff2"),
  url("./media/fonts/Roboto-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
