//colors
$white: #ffffff;
$light-white: #f7f7f7;
$brown: #867d67;
$dark-brown: #5e5748;
$gray: #4f4f4f;
$dark-blue: #3a3f6d;

//path
$img: "./media/img/";
$icons: "#{$img}icons/";

//media
$media-tablet: 700px;
$media-desktop: 1024px;

//colors

//text
$paragraph-color: $white;
$title-color: $brown;
$label-color: $gray;
$sorting-link: $dark-blue;

//bg
$navigation-background: $brown;
$mobile-navigation-background: $dark-brown;
$filter-background: $light-white;

//borders
$sorting-border: $dark-blue;

//weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-bold: 600;

//font-sizes
$f-tooltip: 10px;
$f-info: 12px;
$f-casual: 14px;
$f-text: 16px;
$f-big: 18px;
$f-subtitle: 20px;
$f-title: 30px;

//gutters
$step: 7px;
$step-regular: 14px;
$step-big: 21px;
