mixin head()
    head
        title Tekijät  - Tikkurilan Tekijäpankki
        meta(charset="utf-8")
        meta(name="Description" content="Lisää tekijäksi maalausprojektiisi soveltuvat urakoitsijat ja lähetä tarjouspyynnöt kerralla kolmelle tekijälle.")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(media="all" rel="stylesheet" href=css + "styles.css")
