- var path = "./"
- var css = path + "assets/"
- var img = path + "assets/media/img/"
- var icons = img + "icons/"
- var js = path + "assets/"

include head

include ../../header/header
include ../../footer/footer
include ../../sorting/sorting
include ../../filter/filter
include ../../painters/painters
