- var filterOptions = ['Terassit', 'Katot', 'Puujulkisivut', 'Tasoitustyöt', 'Efektimaalaus'];

mixin filter()
    section.filter
        .filter__container.container
            h2.filter__subtitle
                | Valitse maalaustyö
            ul.filter__list
                each option, index in filterOptions
                    li.filter__item(class=index === 0 ? "filter__item--active": "")
                        label.filter__label
                            input.filter__checkbox.visually-hidden(type='checkbox' name='sorting')
                            p.filter__text=option

        .filter__description-box
            .filter__container.container
                p.filter__description
                    | Etsi projektiisi sopivia urakoitsijoita ja pyydä tarjous!
