- var sortingOptions = ['Työnäytteet', 'Nimi', 'Palaute'];

mixin sorting()
    section.sorting
        .sorting__container.container
            .sorting__search-box
                label.sorting__search-label
                    h2.sorting__search-subtitle
                        | Hae
                    .sorting__search-input-box
                        input.sorting__search-input(type='text' placeholder="asd")
            .sorting__sorting-box
                h2.sorting__sorting-subtitle
                    | Lajitteluperuste
                ul.sorting__sorting-list
                    each option, index in sortingOptions
                        li.sorting__sorting-item
                            label.sorting__sorting-label
                                input.sorting__radio-input.visually-hidden(type='radio' name='sorting' checked=index === 0)
                                p.sorting__sorting-text=option
