- var menuLinksMobile = ['home', 'Tekijät', 'Tietoa palvelusta','Pyydä tarjous'];

mixin header()
    header.header
        .header__top
            .header__container.header__container--top.container
                .header__logo-box
                    img.header__logo(src=img + 'logo.svg')
                h1.header__title
                    | Tekijäpankki

        .header__bottom
            .header__container.header__container--navigation.container
                nav.header__navigation
                    button.header__burger
                        span.header__burger-description
                            | Open mobile menu

                    ul.header__navigation-list
                        each link, index in menuLinksMobile
                            li.header__navigation-item(class=(link === 'home' ? 'header__navigation-item--home' : '') || (index === 3 ? 'header__navigation-item--painters' : ''))
                                a.header__navigation-link(href="#")
                                    span.header__navigation-link-content= link
