.header {
  background: linear-gradient(180deg,#fff 0,#fff 29%,#fdfdfd 37%,#e7e6e6 86%,#e2e2e2);

  @media (min-width: $media-tablet) {
    background: none;
  }

  &__top {
    @media (min-width: $media-tablet) {
      background: linear-gradient(180deg,#fff 0,#fff 29%,#fdfdfd 37%,#e7e6e6 86%,#e2e2e2);
    }
  }

  &__bottom {
    @media (min-width: $media-tablet) {
      background-color: $navigation-background;
    }
  }

  &__container {
    position: relative;

    &--navigation {
      background-color: $navigation-background;
    }

    &--top {
      display: flex;
      align-items: center;
    }
  }

  &__logo-box {
    width: 200px;
    margin-right: 30px;
    flex-shrink: 0;

    @media (min-width: $media-tablet) {
      position: relative;
      top: 14px;
      z-index: 1;
    }
  }

  &__logo {
    display: block;
  }

  &__title {
    margin: 0;
    padding: $step-regular;
    font-size: $f-subtitle;
    color: $title-color;
    text-transform: uppercase;
  }

  &__navigation {
    display: flex;
    padding: $step-regular 0;

    &--open {
      .header__navigation-list {
        z-index: 1;
        opacity: 1;
      }
    }
  }

  &__burger {
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-image: url("#{$icons}burger.svg");
    }

    @media (min-width: $media-desktop) {
      display: none;
    }
  }

  &__burger-description {
    display: none;
  }

  &__navigation-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    z-index: -1;
    background-color: $dark-brown;
    transition: 0.2s ease-in opacity;

    @media (min-width: $media-desktop) {
      position: static;
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 245px;
      background-color: transparent;
      z-index: 1;
      opacity: 1;
    }
  }

  &__navigation-item {
    border-bottom: 1px solid #867d67;

    &--home {
      display: none;

      .header__navigation-link-content {
        display: none;
      }

      @media (min-width: $media-desktop) {
        position: relative;
        display: block;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 30px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("#{$icons}home.svg");
          transform: translate(-50%, -50%);
        }
      }
    }

    &--painters {
      @media (min-width: $media-desktop) {
        min-width: 140px;
        margin-left: auto;
        border: 1px solid #ffffff;
        opacity: .6;
        text-align: center;
      }
    }
  }

  &__navigation-link {
    display: block;
    padding: $step-regular;
    font-size: $f-big;
    color: $paragraph-color;
    text-decoration: none;

    @media (min-width: $media-desktop) {
      font-size: $f-casual;
    }
  }
}
