include components/abstract/pug/mixins

doctype html
html(lang='fi')
    +head

    body
        .page-layout
            +header
            +sorting
            +filter
            +painters
            +footer

        script(src=js + "main.js" async)
